.navbar .nav-item:hover #nameme {
  transform: scale(1.05); }

.navbar .nav-link {
  font-size: 1.2rem;
  margin: .2rem; }

.navbar #nameme {
  color: blue;
  transition: transform .5s; }

.port-item {
  border-bottom: 1px solid #999999;
  font-family: tahoma, arial, "Microsoft YaHei", "Hiragino Sans GB", u5b8bu4f53, sans-serif; }

.showpage {
  height: 800px;
  width: 100%; }

#renBtn {
  background-color: #007BFF; }
  #renBtn #textA {
    color: white; }
