$color-primary-light:#2a20ab;
$color-primary-dark:#5a4ef5;
$color-black:#0a0a0a;

.navbar{

    .nav-item{
        &:hover #nameme{
            transform: scale(1.05);
        }
     }

    .nav-link{
        font-size: 1.2rem;
        margin: .2rem;

    }
    #nameme{
        color: blue;
        transition: transform .5s;
    }
}
.meto{
    display: flex;
    flex-direction: row;
    &:before,
    &:after{
        content: "";
        flex: 1 1;
        border-top: 4px dotted blue;
        margin: auto;

    }
    &:before{
        margin-right: 15px


    }
    &:after{
        margin-left: 15px

    }
}

.kecheng {

    filter: drop-shadow(.75em .75em 1em);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    &:hover {
        transform:  scale(1.1);

        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.videoImg{
    background-image: url("../img/shipin.jpg"); /* The image used */

 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}
.iconme{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    
}