$color-primary-light:#2a20ab;
$color-primary-dark:#5a4ef5;
$color-black:#0a0a0a;

body{
    overflow-x: hidden !important;
}

.a_hover{
    text-decoration: none;
}

.navbar{

    .nav-item{
        &:hover #nameme{
			color:#FF4081; ;
            transform: scale(1.05);

            
        }
     }

    .nav-link{
        font-size: 1.2rem;
        margin: .2rem;
    }
    #nameme{
		color: #666;
		font-weight: bold;
        transition: transform .5s;
    }
}
.meto{
    display: flex;
    flex-direction: row;
    &:before,
    &:after{
        content: "";
        flex: 1 1;
        border-top: 4px dotted blue;
        margin: auto;

    }
    &:before{
        margin-right: 15px


    }
    &:after{
        margin-left: 15px

    }
}



.shipin{
    cursor: pointer;
}

.videoImg{
    border: 1px solid #666;
    transition: transform .2s;
}
.iconme{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);   
}
.yinpin{
    background-color: #F6F9FE;
    display: flex;
    flex-direction: row;
    justify-content: center;
 
}
.a_hover{
    display: inline-block;
    align-self: center;
    cursor: pointer;

    
}
.a_hover:hover {
    text-decoration: underline;
    color: red;
    
}
.titleme{
    font-size: 38px;
    line-height: 48px;
    color: #666;
    text-align: center;
    padding: 0 0 20px 0;
    font-weight: bold;
}
.shipin:hover .videoImg{
    transform: scale(1.02);
    filter: blur(2px);
}
.shipin:hover .iconme{
    // transform: scale(1.02);
}

@media (max-width: 1199px) {
    .yinpin{
        flex: 0 0 33.333% !important;
    }

}

@media (max-width: 700px) {
    .yinpin{
        flex: 0 0 50% !important;
    }
    .contactinfo{
        display: none;
    }

}

@media (max-width: 400px) {
    .yinpin{
        flex: 0 0 100% !important;
    }

}

