.navbar{

    .nav-item{
        &:hover #nameme{
			color:#FF4081; ;
            transform: scale(1.05);
            
        }
     }

    .nav-link{
        font-size: 1.2rem;
        margin: .2rem;
    }
    #nameme{
		color: #666;
		font-weight: bold;
        transition: transform .5s;
    }
}

.title{
    font-size: 38px;
    line-height: 48px;
    color: #666;
    text-align: center;
    padding: 0 0 20px 0;
    font-weight: bold;
}
.tabHead{
    background-color: red;
    color: white;
    border-right:1px solid #fff;
    text-align: center;
}

tr{
    td{
        text-align: center;
    }
}

.hidden{
    font-size: 14px;
    color: #959595;
    padding-bottom: 30px;

}